.section-about {
  height: 100vh;
  min-height: 300px;
  // background-image: url('../../assets/about-bg.jpg');
  // background-size: cover;
  // background-position: center bottom;
  // display: flex;
  background: #272822;
  overflow: hidden;

  & &_textBox {
    width: 100%;
    // height: 500px;
    height: 100vh;
    min-height: 300px;
    display: flex;
    // background: pink;
    align-items: center;
    // font-size: 60px;

    .textWrapper {
      // background: grey;
      margin: 0 auto;
      // line-height: 1;
      color: #fff;
      .aboutContent {
        // white-space: pre-line;
        font-size: calc(1em + 2.5vmin);
        // font-size: 5vh;
        .var {
          color: #66d9ef;
        }
        .equal {
          color: #f92672;
        }
        .string {
          color: #e6db74;
        }
        &:after {
          content: '|';
          animation: blink 500ms linear infinite alternate;
        }
        @media (max-width: 640px) and (min-width: 460px) {
          font-size: 1.5em;
        }
        @media (max-width: 460px) {
          font-size: 1em;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
