.section-projects {
  height: auto;
  background: $secondary-color;
  // max-width: 620px;
  overflow: hidden;
  width: 100%;

  & &_header {
    color: $main-color;
    width: 100%;
    // height: 100px;
    height: auto;
    margin-bottom: 0px;
    p {
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 0;
      font-size: 60px;
      text-align: center;
      margin-bottom: 0;
      // line-height: 1.5;
    }
  }

  & &_project {
    max-width: 620px;
    width: 100%;
    margin: 10px;
    // padding: 0 10px;
    box-sizing: border-box;
    display: block;
    // background: green;

    .project-header {
      p {
        color: black;
        font-size: 24px;
        // padding: 0 10px;
        span {
          color: $main-color;
          font-size: 36px;
        }
      }
    }

    .project-thumbnail {
      .top-bar {
        height: 20px;
        width: 100%;
        max-width: 620px;
        margin-top: 0;
        background: $main-color;
        border-radius: 10px 10px 0 0;
        display: block;
        position: relative;
        .buttons {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: $secondary-color;
          position: relative;
          top: 5px;
          left: 30px;
          &:after,
          &:before {
            background-color: $secondary-color;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
          }
          &:after {
            left: 20px;
          }
          &:before {
            left: -20px;
          }
        }
      }

      .project-img {
        // max-height: 345px;
        max-width: 620px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 0;
        // background-color: green;
        position: relative;
        img {
          max-width: 620px;
          width: 100%;
          height: auto;
          display: block;
          opacity: 1;
          transition: 0.5s ease;
          // background-color: grey;
        }
        .middle {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            text-align: center;
            color: #666;
            font-size: 25px;
            cursor: default;
          }
        }

        &:hover {
          img {
            opacity: 0.3;
            transform: scale(1.1);
          }
          .middle {
            opacity: 1;
          }
        }
      }

      .bottom-bar {
        height: 20px;
        width: 100%;
        max-width: 620px;
        background: $main-color;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

@media (max-width: 640px) {
  .section-projects {
    & &_project {
      width: 100%;
      margin: 30px auto;
      .project-header {
        p {
          padding: 0 10px;
          font-size: 16px;
          span {
            font-size: 24px;
          }
        }
      }
      .project-thumbnail {
        padding: 0 10px;

        .project-img {
          .middle {
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
